* {
    outline: none !important;
}

body {
    overflow-y: scroll;
}

h4 small {
    display: block;
    font-size: 60%;
    color: #888;
}
pre code {
    background-color: inherit;
    border: none;
    padding: 0;
    overflow: auto;
    word-wrap: normal;
    white-space: pre;
}
a:hover {
    color: #cc3333;
}
legend small,
legend .small {
    font-size: 80%;
}

body, html {
    height: 100%;
    color: #333;
}

blockquote {
    background-color: #f9f9f9;
}

blockquote footer:before,
blockquote small:before,
blockquote .small:before {
    content: '';
}

.navbar-form {
    margin-right: -15px;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -40px;
    padding-top: 50px;
}
#wrap #push {
    height: 40px;
}
#footer {
    height: 39px;
    line-height: 39px;
    background-color: #f2f2f2;
    border-top: 1px solid #d8d8d8;
    color: #a5a5a5;
    overflow: hidden;
}

#main {
    margin-top: 20px;
}

#brand {
    height: 100px;
    background-color: #2972b0;
}
#brand h1 {
    line-height: 100px;
    margin: 0;
}
#brand h1 a {
    color: #fff !important;
    text-decoration: none;
    padding-bottom: 3px;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-color ease-in-out .2s;
    -o-transition: border-color ease-in-out .2s;
    transition: border-color ease-in-out .2s;
}
#brand h1 a:hover {
    border-bottom-color: #ffffff;
}
@media (max-width: 767px) {
    #brand h1 {
        text-align: center;
        font-size: 24px;
    }
}

#search-form > .form-group {
    position: relative;
}
#search-form .fa-search {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 10px;
    display: block;
    height: 34px;
    line-height: 32px;
    font-size: 20px;
    color: #666;
    cursor: pointer;
}
#search-form input[type=search] {
    background-color: #444;
    border-color: #222;
    padding-right: 40px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: background-color ease-in-out .3s, width ease-in-out .3s;
    -o-transition: background-color ease-in-out .3s, width ease-in-out .3s;
    transition: background-color ease-in-out .3s, width ease-in-out .3s;
}
#search-form input[type=search]:focus {
    background-color: #ffffff;
    border-color: #222;
}
@media (min-width: 768px) {
    .navbar input[type=search] {
        width: 200px;
    }
    .navbar input[type=search]:focus {
        width: 300px;
    }
}

.sidebar .thumbnail {
    margin-top: -90px;
    max-width: 100%;
}
@media (max-width: 991px) {
    .sidebar .thumbnail {
        display: none;
    }
}

.sidebar .social-list {
    margin: 20px 0;
    text-align: center;
}
.sidebar .social-list a {
    text-decoration: none;
}
.sidebar .social-list .social-element {
    display: inline-block;
    margin-left: 1px;
    width: 34px;
    height: 34px;
    background-color: #cbcbcb;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -webkit-transition: background-color 300ms linear,-webkit-transform 100ms ease-in;
    -moz-transition: background-color 300ms linear,-moz-transform 100ms ease-in;
    -o-transition: background-color 300ms linear,-o-transform 100ms ease-in;
    transition: background-color 300ms linear,transform 100ms ease-in;
}
.sidebar .social-list .social-element:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.sidebar .social-list .social-element#linkedin:hover {
    background-color: #236197;
}
.sidebar .social-list .social-element#php:hover {
    background-color: #2175A2;
}
.sidebar .social-list .social-element#github:hover {
    background-color: #333333;
}
.sidebar .social-list .social-element#google:hover {
    background-color: #D44330;
}
.sidebar .social-list .social-element#twitter:hover {
    background-color: #00acee;
}
.sidebar .social-list .social-element#rss:hover {
    background-color: #FE8F47;
}
.sidebar .social-list .social-element i {
    color: white !important;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 22px;
    line-height: 34px;
}
@media (min-width: 991px) and (max-width: 1199px) {
    .sidebar .social-list .social-element {
        width: 26px;
        height: 26px;
    }
    .sidebar .social-list .social-element i {
        font-size: 18px;
        line-height: 26px;
    }
}

.post {
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
}
.post:last-child {
    border-bottom: none;
    padding-bottom: 0;
}
.post h2 {
    margin-bottom: 20px;
}
.post h2 a {
    text-decoration: none;
}
.post h3 {
    color: #31708f;
}
.post h4 {
    margin-top: 20px;
}
.post img {
    display: block;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 4px;
}
.post .share {
    margin-top: 20px;
}
.post .share .buttons {
    text-align: center;
}
.post .share .buttons .btn,
.tags-list .btn,
.categories-list .btn {
    margin: 3px 0;
}
.post .other-articles {
    margin-bottom: 0;
}
.post .post-title {
    text-align: justify;
}

.search-section .hfeed {
    margin-top: 20px;
}

.tags-list,
.categories-list {
    text-align: justify;
}