h4 small {
    display: block;
    font-size: 60%;
    color: #888;
}
pre code {
    background-color: inherit;
}

#main {
    margin-top: 20px;
}

#brand {
    margin-top: 50px;
    height: 100px;
    background-color: #2972b0;
}
#brand h1 {
    line-height: 100px;
    margin: 0;
}
#brand h1 a {
    color: #fff !important;
    text-decoration: none;
    padding-bottom: 3px;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-color ease-in-out .2s;
    -o-transition: border-color ease-in-out .2s;
    transition: border-color ease-in-out .2s;
}
#brand h1 a:hover {
    border-bottom-color: #ffffff;
}

#search-form > .form-group {
    position: relative;
}
#search-form .fa-search {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 10px;
    display: block;
    height: 34px;
    line-height: 32px;
    font-size: 20px;
    color: #666;
    cursor: pointer;
}
#search-form input[type=text] {
    background-color: #444;
    border-color: #222;
    padding-right: 40px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: background-color ease-in-out .3s, width ease-in-out .3s;
    -o-transition: background-color ease-in-out .3s, width ease-in-out .3s;
    transition: background-color ease-in-out .3s, width ease-in-out .3s;
}
#search-form input[type=text]:focus {
    background-color: #ffffff;
    border-color: #222;
}
@media (min-width: 768px) {
    .navbar input[type=text] {
        width: 200px;
    }
    .navbar input[type=text]:focus {
        width: 300px;
    }
}

.sidebar .thumbnail {
    margin-top: -90px;
    max-width: 100%;
}
@media (max-width: 991px) {
    .sidebar .thumbnail {
        display: none;
    }
}

.sidebar .social-list {
    margin: 20px 0;
    text-align: center;
}
.sidebar .social-list a {
    text-decoration: none;
}
.sidebar .social-list .social-element {
    display: inline-block;
    margin-left: 1px;
    width: 34px;
    height: 34px;
    background-color: #cbcbcb;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -webkit-transition: background-color 300ms linear,-webkit-transform 100ms ease-in;
    -moz-transition: background-color 300ms linear,-moz-transform 100ms ease-in;
    -o-transition: background-color 300ms linear,-o-transform 100ms ease-in;
    transition: background-color 300ms linear,transform 100ms ease-in;
}
.sidebar .social-list .social-element:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.sidebar .social-list .social-element#linkedin:hover {
    background-color: #236197;
}
.sidebar .social-list .social-element#php:hover {
    background-color: #2175A2;
}
.sidebar .social-list .social-element#github:hover {
    background-color: #333333;
}
.sidebar .social-list .social-element#google:hover {
    background-color: #D44330;
}
.sidebar .social-list .social-element#twitter:hover {
    background-color: #00acee;
}
.sidebar .social-list .social-element#rss:hover {
    background-color: #FE8F47;
}
.sidebar .social-list .social-element i {
    color: white !important;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 22px;
    line-height: 34px;
}
@media (min-width: 991px) and (max-width: 1199px) {
    .sidebar .social-list .social-element {
        width: 26px;
        height: 26px;
    }
    .sidebar .social-list .social-element i {
        font-size: 18px;
        line-height: 26px;
    }
}

.post {
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
}
.post:last-child {
    border-bottom: none;
    padding-bottom: 0;
}