h4 small {
    display: block;
    font-size: 60%;
    color: #888;
}

#main {
    margin-top: 20px;
}

#brand {
    margin-top: 50px;
    height: 100px;
    background-color: #2972b0;
}
#brand h1 {
    line-height: 100px;
    margin: 0;
}
#brand h1 a {
    color: #fff !important;
    text-decoration: none;
    padding-bottom: 3px;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-color ease-in-out .2s;
    -o-transition: border-color ease-in-out .2s;
    transition: border-color ease-in-out .2s;
}
#brand h1 a:hover {
    border-bottom-color: #ffffff;
}

#search-form > .form-group {
    position: relative;
}
#search-form .fa-search {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 10px;
    display: block;
    height: 34px;
    line-height: 32px;
    font-size: 20px;
    color: #666;
    cursor: pointer;
}
#search-form input[type=text] {
    background-color: #444;
    border-color: #222;
    padding-right: 40px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: background-color ease-in-out .3s, width ease-in-out .3s;
    -o-transition: background-color ease-in-out .3s, width ease-in-out .3s;
    transition: background-color ease-in-out .3s, width ease-in-out .3s;
}
#search-form input[type=text]:focus {
    background-color: #ffffff;
    border-color: #222;
}
@media (min-width: 768px) {
    .navbar input[type=text] {
        width: 200px;
    }
    .navbar input[type=text]:focus {
        width: 300px;
    }
}

.sidebar .thumbnail {
    margin-top: -90px;
    max-width: 100%;
}
@media (max-width: 991px) {
    .sidebar .thumbnail {
        display: none;
    }
}

.post {
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
}
.post:last-child {
    border-bottom: none;
    padding-bottom: 0;
}