version: '3'

services:
    acelaya_blog_node:
        container_name: acelaya_blog_node
        image: node:16.14-alpine
        command: /bin/sh -c "cd /blog && npm install && npm run dev"
        volumes:
            - ./:/blog
        ports:
            - "3000:3000"
