version: '3'

services:
    acelaya_blog_node:
        container_name: acelaya_blog_node
        image: node:20.8-alpine
        command: /bin/sh -c "cd /blog && npm install && npm run dev"
        volumes:
            - ./:/blog
        ports:
            - "4321:4321"
            - "4322:4322"
