version: '2'

services:
    ac_blog_php:
        container_name: ac_blog_php
        build:
            context: .
            dockerfile: ./infra/php.Dockerfile
        ports:
            - "4000:4000"
        volumes:
            - ./:/home/ac_blog/www
