services:
    acelaya_blog_node:
        container_name: acelaya_blog_node
        user: 1000:1000
        image: node:24.7-alpine
        working_dir: /blog
        command: /bin/sh -c "npm install && node --run dev"
        volumes:
            - ./:/blog
        ports:
            - "4321:4321"
            - "4322:4322"
