<footer id="fh5co-footer">
    <div class="container">
        <div class="row row-bottom-padded-md">
            <div class="col-md-2 col-xs-12 animate-box">
                <div class="fh5co-footer-widget">
                    <h3>Section</h3>
                    <ul class="fh5co-links"></ul>
                </div>
            </div>

            <div class="col-md-7 col-xs-12 animate-box">
                <div class="fh5co-footer-widget">
                    <h3>Section</h3>
                    <ul class="fh5co-links"></ul>
                </div>
            </div>

            <div class="col-md-3 col-xs-12 animate-box">
                <div class="fh5co-footer-widget">
                    <h3>Section</h3>
                    <ul class="fh5co-links"></ul>
                </div>
            </div>

        </div>

    </div>
    <div class="fh5co-copyright animate-box">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="fh5co-left"><small>&copy; {{ 'now' | date('Y') }} <a target="_blank" href="https://www.alejandrocelaya.com">Alejandro Celaya Alastrué</a>.</small></p>
                    <p class="fh5co-right"><small class="fh5co-right">Full-stack developer (PHP/JS)</small></p>
                </div>
            </div>
        </div>
    </div>
</footer>
