<div class="container">
    &copy; {{ "now" | date("Y") }} <a target="_blank" href="https://www.alejandrocelaya.com">{{ site.my_full_name}}</a>
    <span class="pull-right">
        Powered by <a target="_blank" href="https://sculpin.io">Sculpin</a>
    </span>
</div>