h4 small
{
    display: block;
    font-size: 60%;
    color: #888;
}

body {
    padding-top: 70px;
}

#search-form > .form-group {
    position: relative;
}
#search-form .fa-search {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 10px;
    display: block;
    height: 34px;
    line-height: 32px;
    font-size: 20px;
    color: #666;
    cursor: pointer;
}
#search-form input[type=text] {
    background-color: #444;
    border-color: #222;
    padding-right: 40px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: background-color ease-in-out .3s, width ease-in-out .3s;
    -o-transition: background-color ease-in-out .3s, width ease-in-out .3s;
    transition: background-color ease-in-out .3s, width ease-in-out .3s;
}
#search-form input[type=text]:focus {
    background-color: #ffffff;
    border-color: #222;
}
@media (min-width: 768px) {
    .navbar input[type=text] {
        width: 200px;
    }
    .navbar input[type=text]:focus {
        width: 300px;
    }
}