---
layout: default
title: Categories
---

<div class="col-md-12">
    <div class="animate-box clearfix">
        {% include 'ads.html.twig' %}
        <h2>Categories</h2>
    </div>

    <div class="categories-list animate-box">
        {% set categories = taxonomies(site.categories, 'categories') %}
        {% for categoryName in categories %}
            <a class="btn btn-default" href="{{ site.url }}/category/{{ categoryName | url_encode(true) }}/">
                {{ categoryName }}
            </a>
        {% endfor %}
    </div>
</div>
