---
layout: default
title: Categories
---

<div class="col-md-12">
    <h2 class="animate-box">Categories</h2>

    <div class="categories-list animate-box">
        {% set categories = taxonomies(site.categories, 'categories') %}
        {% for categoryName in categories %}
            <a class="btn btn-default" href="{{ site.url }}/category/{{ categoryName | url_encode(true) }}/">
                {{ categoryName }}
            </a>
        {% endfor %}
    </div>
</div>
