---
layout: default
title: Tags
---

<div class="col-md-12">
    <h2 class="animate-box">Tags</h2>

    <div class="tags-list animate-box">
        {% set tags = taxonomies(site.tags, 'tags') %}
        {% for tagName in tags %}
            <a class="btn btn-default" href="{{ site.url }}/tag/{{ tagName | url_encode(true) }}/">
                {{ tagName | replace('-', ' ') }}
            </a>
        {% endfor %}
    </div>
</div>
