---
import Link from '../Link';
import { Post, postExcerpt } from '../../utils/posts';

export interface Props {
  post: Post;
}

const { post } = Astro.props;
const excerpt = postExcerpt(post);
---

<article>
  <dl>
    <dt class="entry-title"><Link href={post.url ?? ''} rel="bookmark">{post.data.title}</Link></dt>
    <dd class="entry-summary">
      <p>{excerpt}</p>
    </dd>
  </dl>
</article>
