---
import { CommentCount } from 'disqus-react';
import { disqusPropsForPost } from '../../utils/disqus';
import Link from '../Link';
import type { Post } from '../../utils/posts';

export interface Props {
  post: Post;
}

const { post } = Astro.props;
---

<p class="text-right">
  <small>
    <i>
      {post.formattedDate}
      &nbsp;&mdash;&nbsp;
      <Link href={`${post.url}#disqus_thread`}>
        <CommentCount {...disqusPropsForPost(post.data.title, post.url)} client:load>Comments</CommentCount>
      </Link>
    </i>
  </small>
</p>
