---
import Link from '../Link';
import type { Post } from '../../utils/posts';

export interface Props {
  post: Post;
}

const { post } = Astro.props;
---

<div class="mb-4">
  <p>{post.excerpt}</p>
  <div class="font-bold mt-2">
    <Link href={post.url}>Continue reading...</Link>
  </div>
</div>
