---
import Link from '../Link';
import type { Post } from '../../utils/posts';
import { PostCommentCount } from './PostCommentCount';

export interface Props {
  post: Post;
}

const { post } = Astro.props;
---

<p class="text-right italic space-x-2 my-4 text-sm">
  <span>{post.formattedDate}</span>
  <span>&mdash;</span>
  <Link href={`${post.url}#disqus_thread`}>
    <PostCommentCount post={post} client:load />
  </Link>
</p>
