---
import Link from '../Link';
import type { Post } from '../../utils/posts';

export interface Props {
  post: Post;
}

const { post } = Astro.props;
---

<div style={{ marginBottom: '10px' }}>
  <p>{post.excerpt}</p>
  <div>
    <Link href={post.url}><b>Continue reading...</b></Link>
  </div>
</div>
